<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
		 bootstrap="vendor/autoload.php"
         cacheDirectory="build/phpunit/cache"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         colors="true"
>
    <testsuite name="Test Suite">
        <directory>tests</directory>
    </testsuite>
	<source>
		<include>
			<directory>src</directory>
		</include>
	</source>
    <coverage cacheDirectory="build/phpunit/cache">
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/logs/coverage" />
        </report>
    </coverage>
    <logging>
        <testdoxHtml outputFile="build/logs/testdox.html"/>
    </logging>
</phpunit>
