name: Psalm Static analysis

on: [push, pull_request]

jobs:
  psalm:
    name: "Psalm"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: "Install PHP 8.2"
        uses: shivammathur/setup-php@master
        with:
          php-version: 8.2
          extensions: mbstring
          coverage: none

      - name: "Validate composer.json and composer.lock"
        run: composer validate --strict

      - name: "Setup Composer, install dependencies"
        uses: ramsey/composer-install@v3
        with:
          composer-options: "--prefer-dist --optimize-autoloader"
          require-lock-file: "false"
          dependency-versions: "highest"

      - name: "Psalm Analysis"
        run: composer run-script psalm:ci

      - name: "Upload Security Analysis results to GitHub"
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: results.sarif
